@font-face {
    font-family: 'Satisfy';
    src: url('../ttf/boleroscript.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oblivion';
    src: url('../ttf/oblivion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('../ttf/rubik-variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'abaddon';
    src: url('../ttf/abaddon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gismondaCYR';
    src: url('../ttf/gismondaCYR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Satisfy;
    font-weight: bold;
    cursor: url("../cur/Heroes_V_cursor_default.cur") 5 5, default;
}

::-webkit-scrollbar {
    width: 12px;
    height: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #00c6fb, #ea9000);
}

a,
input,
button {
    cursor: url("../cur/Heroes_V_cursor_pointer.cur") 0 0, pointer !important;
}

body {
    overflow-x: hidden;
    min-width: 600px;
    min-height: 1280px;
    height: auto;
    width: auto;
    border: 5px solid #B8860B;
}

.header {
    min-height: 5%;
    height: fit-content;
    margin: 0;
    top: 0;
    position: sticky;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 40px 40px 0 0;
}

.main {
    margin: 0;
    min-height: 1000px;
    height: fit-content;
}

.footer {
    height: auto;
    margin: 0;
    border-radius: 0 0 40px 40px;
}

.footer-information {
    height: 5rem;
}

.site-name {
    margin: auto;
    text-align: center;
    min-width: 18rem;
    display: inline-block;
}

.logo__icon>img {
    pointer-events: none;
    height: auto;
    max-width: 3rem;
    min-width: 3rem;
    object-fit: cover;
    vertical-align: middle;
    display: inline;
}

.site-name>a {
    border-radius: 15px;
    font-family: 'abaddon';
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.site-name::before {
    background: url('../img/img_main.jpg');
}

.site-name__icon>a {
    color: #000000;
    min-width: 5%;
    font-size: 2rem;
    font-family: abaddon;
    font-weight: bold;
    text-decoration: none;
    padding-left: 4%;
    vertical-align: middle;
    text-align: center;
    display: inline;
}


.ask-button {
    margin: auto;
    padding: 0.5rem 0 0.5rem 0;
    text-align: center;
    display: inline-block;
}

.btn-field__ask {
    color: #FFFFFF;
    width: 80px;
    height: auto;
    background-color: #800000;
    border: 3px solid #000000;
    border-radius: 12px;
    text-align: center;
    min-width: 16px;
    font-size: 28px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
}

.btn-field__ask:hover {
    background-color: #BC8F8F;
}

.btn-field__ask:active {
    background-color: #B8860B;
    transform: scale(0.90);
}

.site-search {
    margin: auto;
    display: inline-block;
}

.search-field {
    border: 3px solid #000000;
    border-radius: 16px;
    overflow: hidden;
}

.search__button {
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    object-fit: cover;
    padding: 0;
    background-color: #FFFFFF;
    display: flex;
}

.search__button:active {
    transform: scale(0.90);
}


.search-field__input {
    height: 50px;
    width: calc(100% - 50px);
    font-size: 24px;
    font-family: Rubik;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 0;
    background-color: #FFFFFF;
    outline: none;
}

.search_hints {
    position: absolute;
    margin-top: 3.5rem;
    max-width: 100%;
    list-style-type: none;
    padding: 0;
}

.search_hints>li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    margin-top: 2px;
    font-size: 24px;
    background-color: #fdc18e;
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 3px;
}

.search_hints>li>a {
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    font-family: Rubik;
    font-weight: 500;
}

.search_hints>li>a>b {
    font-weight: bold;
    font-family: Rubik;
}

.main-avatar {
    height: 100px;
    width: 100px;
    padding: 0;
    margin: 0.5rem 0 0 0;
    overflow: hidden;
}

.avatar-image {
    height: 100%;
    width: 100%;
    padding: 0;
    border: 3px solid #B8860B;
    border-radius: 30px;
    object-fit: cover;
}

.non-authorized_user-menu {
    padding: 0px;
    display: flex;
    font-weight: bold;
}

.user-menu {
    padding-top: 5px;
    font-weight: bold;
}

#username {
    font-weight: bold;
    font-size: 2vw;
    overflow-wrap: break-word;
    margin: 0;
}

ul.justify-content-end {
    margin: auto;
    padding: 0;
    font-size: 18px;
}

ul.justify-content-end>li {
    color: #0d6efd;
    text-decoration: underline #0d6efd;
    padding-right: 20px;
    display: inline-block;
}

ul.justify-content-end>li>a {
    font-family: Oblivion;
}

.underline {
    padding: 0px;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0px;
    height: 4px;
    background-image: -webkit-linear-gradient(left, #fff, #B8860B, #fff);
    background-image: -moz-linear-gradient(left, #fff, #B8860B, #fff);
    background-image: -ms-linear-gradient(left, #fff, #B8860B, #fff);
    background-image: -o-linear-gradient(left, #fff, #B8860B, #fff);
}

.textcols-item-questions {
    height: fit-content;
}

@media only screen and (max-width: 800px) {
    .site-search {
        display: none;
    }

    ul.justify-content-end {
        font-size: 14px;
    }
}

/* _________________________________ */
/* CSS-settings for index.html */
/* _________________________________ */

p.index_questions {
    font-size: 36px;
    padding-left: 10%;
    padding-top: 1rem;
    font-family: Oblivion;
    font-weight: bold;
    display: inline-block;
}

a.index_questions {
    padding-left: 1rem;
    font-size: 24px;
    font-family: Oblivion;
    font-weight: bold;
}

.index_question {
    margin-left: 10%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: 3px solid #000000;
    border-radius: 20px;
    width: 85%;
    min-height: 10%;
    box-shadow: 5px 5px 5px 5px #A52A2A;
}

.index_question-icon {
    height: fit-content;
    width: 144px;
    min-width: 80px;
    min-height: 80px;
    padding: 0;
    margin: 8px;
}

.index_question-avatar {
    height: 144px;
    width: 144px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.index_question-text {
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

a.index_user-question {
    font-size: 24px;
    font-family: gismondaCYR;
    padding: 0 0 0.5rem 0.5rem;
    display: block;
    text-decoration: none;
    overflow-wrap: break-word;
}

.index_user-text {
    max-height: 100%;
    height: fit-content;
}

.index_user-text>p {
    text-align: justify;
    height: fit-content;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 24px;
    margin: 0;
    overflow-wrap: break-word;
}

.index_question-tags {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 0 0 0.5rem;

}

.index_answers {
    padding: 0;
}

.index_answers>a {
    font-size: 18px;
    font-family: Oblivion;
}

.index_tags {
    padding: 0;
    margin: 0 0 0 1.5rem;
}

.index_tags>span {
    font-size: 18px;
    font-family: Oblivion;
}

.index_tags-links {
    padding: 0;
    overflow-wrap: break-word;
}

.index_tags-links>ul {
    margin: 0;
    list-style-image: url("../svg/caret-right.svg")
}

.index_tags-links>ul>li>a {
    font-size: 18px;
    font-family: gismondaCYR;
    padding-left: 0.5rem;
    display: block;
}

.index_tags-links {
    padding-left: 0;
}

.publish_date {
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    margin-bottom: 0.5rem;
    height: auto;
    width: auto;
    text-align: left;
}

.user_nickname {
    font-size: 24px;
    font-weight: bolder;
    margin: 8px 0 0 8px;
    overflow-wrap: anywhere;

}

.likes-counter {
    margin-top: 0.5rem;
    margin-left: 0;
    width: 7rem;
}

.likes {
    font-family: Oblivion;
    font-weight: bold;
    font-size: 22px;
    height: 44px;
    padding: 0;
    border-width: 2px;
    border-style: solid none solid solid;
    border-color: #000000;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter {
    width: auto;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.btn-like-question,
.btn-dislike-question,
.btn-like-answer,
.btn-dislike-answer {
    width: 20px;
    height: 22px;
    background: #FFFFFF;
}

.btn-like-question,
.btn-like-answer {
    border: 2px solid #000000;
    border-radius: 0 5px 0 0;
    background-image: url('../svg/hand-thumbs-up-fill.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-dislike-question,
.btn-dislike-answer {
    border: 2px solid #000000;
    border-radius: 0 0 5px 0;
    background-image: url('../svg/hand-thumbs-down-fill.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.btn-like-question:hover,
.btn-dislike-question:hover,
.btn-like-answer:hover,
.btn-dislike-answer:hover {
    background-color: #B0C4DE;
}

.btn-like-question:active,
.btn-dislike-question:active,
.btn-like-answer:active,
.btn-dislike-answer:active {
    transform: scale(0.90);
}

@media only screen and (max-width: 1080px) {
    .index_question-icon {
        width: 96px;
    }

    .index_question-avatar {
        height: 96px;
        width: 96px;
    }

    .user_nickname {
        font-size: 16px;
    }

    .likes-counter {
        width: 5.5rem;
    }

    a.index_user-question {
        font-size: 20px;
    }

    p.index_questions {
        font-size: 36px;
        display: block;
        margin-bottom: 0;
    }

    a.index_questions {
        font-size: 24px;
        padding-left: 10%;
    }
}

@media screen and (min-width: 1080px) and (max-width: 1280px) {
    .user_nickname {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1280px) {
    .index_answers>a {
        font-size: 14px;
    }

    .index_tags>span {
        font-size: 14px;
    }

    .index_tags-links>ul {
        margin: 0 0 0 1rem;
    }

    .index_tags-links>ul>li>a {
        font-size: 14px;
    }
}

/* _________________________________ */
/* CSS-settings for QUESTION.html */
/* _________________________________ */

.question_question {
    margin-left: 10%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    border: 3px solid #000000;
    border-radius: 20px;
    width: 85%;
    min-height: 10%;
    box-shadow: 5px 5px 5px 5px #A52A2A;
}


.question_question-icon {
    height: fit-content;
    width: 180px;
    min-width: 80px;
    min-height: 80px;
    padding: 0;
    margin: 8px;
}

.question_question-avatar {
    height: 180px;
    width: 180px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.question_question-text {
    height: auto;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
}

p.question_user-question {
    font-size: 24px;
    font-family: gismondaCYR;
    padding: 0 0 0.5rem 0.5rem;
    margin: 0;
    display: block;
    text-decoration: none;
    overflow-wrap: break-word;
}

.question_user-text {
    max-height: 100%;
    height: fit-content;
}

.question_user-text>p {
    text-align: justify;
    height: fit-content;
    padding-right: 0 0.5rem 0 0.5rem;
    font-size: 24px;
    margin: 0;
    overflow-wrap: break-word;
}

.question_question-tags {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding: 0 0 0 0.5rem;
}

.question_tags {
    padding: 0;
}

.question_tags>span {
    font-size: 18px;
    font-family: Oblivion;
}

.question_tags-links {
    padding: 0;
    overflow-wrap: break-word;
}

.question_tags-links>ul {
    margin: 0 0 0 1rem;
    list-style-image: url("../svg/caret-right.svg")
}

.question_tags-links>ul>li>a {
    font-size: 18px;
    font-family: gismondaCYR;
    padding-left: 0.5rem;
    display: block;
}

.question_answer {
    margin-left: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 3px solid #000000;
    border-radius: 20px;
    width: 80%;
    min-height: 10%;
    box-shadow: 5px 5px 5px 5px #008000;
}

.question_answer-icon {
    height: fit-content;
    width: 144px;
    min-width: 80px;
    min-height: 80px;
    padding: 0;
    margin: 8px;
}

.question_answer-avatar {
    height: 144px;
    width: 144px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.question_answer-text {
    height: auto;
    display: grid;
    grid-template-rows: 1fr auto auto;
    padding-top: 0.75rem;
}

.question_answer-user-text {
    max-height: 100%;
    height: fit-content;
}

.question_answer-user-text>p {
    text-align: justify;
    height: fit-content;
    padding-right: 0 0.5rem 0 0.5rem;
    font-size: 24px;
    margin: 0;
    overflow-wrap: break-word;
}

.checkbox-correct-answer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    vertical-align: middle;
}

.form-check {
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

.form-check-input {
    height: 1.5rem !important;
    width: 1.5rem;
    margin: 0;
    cursor: url("../cur/Heroes_V_cursor_pointer.cur") 0 0, pointer;
}

.form-check-label {
    vertical-align: middle;
}

.checkbox-correct-answer>div>label {
    padding-left: 0.5rem;
    font-size: 24px;
    font-family: Oblivion;
}

.question_user-answer {
    margin-left: 10%;
    margin-top: 5rem;
    margin-bottom: 0rem;
    width: 70%;
}

.question_user-answer>textarea {
    font-family: Rubik;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 10rem;
    border: 3px solid #000000;
    border-radius: 10px;
    resize: none;
    float: none;
    overflow: hidden;
}

.btn__answer {
    margin-top: 3rem;
    margin-right: 0;
    margin-bottom: 1rem;
}

.btn-field__answer {
    color: #FFFFFF;
    width: 100px;
    height: auto;
    background-color: #008000;
    border: 3px solid #000000;
    border-radius: 12px;
    text-align: center;
    min-width: 16px;
    font-size: 28px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
}

.btn-field__answer:hover {
    background-color: #3CB371;
}

.btn-field__answer:active {
    background-color: #B8860B;
    transform: scale(0.90);
}

@media only screen and (max-width: 1080px) {
    .question_question-icon {
        width: 128px;
    }

    .question_question-avatar {
        height: 128px;
        width: 128px;
    }

    .question_answer-icon {
        width: 96px;
    }

    .question_answer-avatar {
        height: 96px;
        width: 96px;
    }

    p.question_user-question {
        font-size: 20px;
    }

    .question_answer-icon {
        width: 96px;
    }

    .form-check-label {
        font-size: 16px !important;
    }

}

@media only screen and (max-width: 1280px) {
    .question_tags>span {
        font-size: 14px;
    }

    .question_tags-links>ul {
        margin: 0 0 0 1rem;
    }

    .question_tags-links>ul>li>a {
        font-size: 14px;
    }
}

/*_________________________________*/
/* CSS-settings for ask.html */
/*_________________________________*/

.ask_before-question-header {
    padding-left: 10%;
}

.ask_mistake-message {
    padding-left: 10%;
}

.ask_mistake-message>p {
    color: #DC143C;
    font-size: 32px;
    font-family: Rubik;
    font-weight: bold;
    display: inline-block;
}

p.ask_questions {
    font-size: 36px;
    padding-top: 1rem;
    font-family: Oblivion;
    font-weight: bold;
    display: inline-block;
}

.ask_question-title,
.ask_question-text,
.ask_question-tags {
    padding-top: 3.5rem;
    padding-left: 10%;
}

.ask_question-title>label,
.ask_question-text>label,
.ask_question-tags>label {
    font-size: 28px;
    font-family: Oblivion;
    width: 10rem;
}

.ask_title-text,
.ask_text-text,
.ask_tags-text {
    font-family: Rubik;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    width: 75%;
    height: 3rem;
    border: 3px solid #000000;
    border-radius: 10px;
    resize: none;
    float: none;
    overflow: hidden;
}

.ask_text-text {
    height: 30rem;
    min-height: 5rem;
    max-height: 30rem;
}

.btn__send {
    margin-top: 3rem;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: calc(10rem + 3px);
}

.btn-field__send {
    color: #FFFFFF;
    width: 80px;
    height: auto;
    background-color: #008000;
    border: 3px solid #000000;
    border-radius: 12px;
    text-align: center;
    min-width: 16px;
    font-size: 28px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
}

.btn-field__send:hover {
    background-color: #3CB371;
}

.btn-field__send:active {
    background-color: #B8860B;
    transform: scale(0.90);
}

@media only screen and (max-width: 1280px) {
    .btn__send {
        margin-left: calc(8rem + 3px);
    }
}

/* _________________________________ */
/* CSS-settings for login.html */
/* _________________________________ */

.login_before-question-header {
    padding-left: 10%;
}

p.login_login-message {
    font-size: 36px;
    padding-top: 1rem;
    font-family: Oblivion;
    font-weight: bold;
    display: inline-block;
}

.login_mistake-message {
    padding-left: 10%;
}

.login_mistake-message>p {
    color: #DC143C;
    font-size: 32px;
    font-family: Rubik;
    font-weight: bold;
    display: inline-block;
}

.login_login-input,
.login_password-input,
.login_create-new-account {
    padding-top: 3.5rem;
    padding-left: 10%;
}

.login_login-input>label,
.login_password-input>label {
    font-size: 28px;
    font-family: Oblivion;
    width: 18rem;
}

.login_login,
.login_password {
    font-family: Rubik;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    width: 45%;
    height: 3rem;
    border: 3px solid #000000;
    border-radius: 10px;
    resize: none;
    float: none;
    overflow: hidden;
}

.btn__login {
    margin-top: 3rem;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: calc(18rem + 3px);
}

.btn-field__login {
    color: #FFFFFF;
    width: 100px;
    height: auto;
    background-color: #008000;
    border: 3px solid #000000;
    border-radius: 12px;
    text-align: center;
    min-width: 16px;
    font-size: 28px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
}

.btn-field__login:hover {
    background-color: #3CB371;
}

.btn-field__login:active {
    background-color: #B8860B;
    transform: scale(0.90);
}

.login_create-new-account {
    margin-top: 1.5rem;
    padding: 0;
    font-size: 24px;
}

.login_create-new-account>label {
    width: 10rem;
}

@media only screen and (max-width: 1280px) {

    .login_login-input>label,
    .login_password-input>label {
        font-size: 24px;
        width: 15rem;
    }
}

@media only screen and (max-width: 1280px) {
    .btn__login {
        margin-left: calc(15rem + 3px);
    }
}

/*_________________________________*/

/*CSS-settings for settings.html
-----------------------------------*/

.before-question-header {
    padding-left: 10%;
}

.settings_mistake-message {
    padding-left: 10%;
}

.settings_mistake-message>p {
    color: #DC143C;
    margin: 0;
    font-size: 24px;
    font-family: Rubik;
    font-weight: bold;
    display: inline-block;
}

p.settings_settings {
    margin-left: 10%;
    font-size: 36px;
    padding-top: 1rem;
    font-family: Oblivion;
    font-weight: bold;
    display: inline-block;
}

.settings_username {
    padding-left: 1rem;
    font-weight: bold;
}

.settings_settings-email,
.settings_settings-nickname,
.settings_upload-avatar {
    padding-top: 3.5rem;
    padding-left: 10%;
}

.settings_settings-email>label,
.settings_settings-nickname>label,
.settings_upload-avatar>label {
    font-size: 28px;
    font-family: Oblivion;
    width: 18rem;
}

@media only screen and (max-width: 1280px) {

    .settings_settings-email>label,
    .settings_settings-nickname>label,
    .settings_upload-avatar>label {
        font-size: 24px;
        width: 15rem;
    }
}

.settings_email,
.settings_nickname,
settings_upload-avatar {
    font-family: Rubik;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    height: 3rem;
    width: 45%;
    border: 3px solid #000000;
    border-radius: 10px;
    resize: none;
    float: none;
    overflow: hidden;
}

#settings_chosen_avatar {
    display: inline;
    height: 180px;
    width: 180px;
    min-width: 144px;
    min-height: 144px;
    border: 3px solid #B8860B;
    border-radius: 30px;
    object-fit: cover;
}

#settings_imgInput {
    display: block;
    margin-top: 2rem;
    margin-left: calc(18rem + 3px);
    text-align: center;
    min-width: 16px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
    font-family: Rubik;
    font-size: 24px;
    height: 3rem;
    width: 45%;
    border: 3px solid #000000;
    border-radius: 10px;
    resize: none;
    float: none;
    overflow: hidden;
}

.btn__save {
    margin-top: 2rem;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 18rem;
}

.btn-field__save {
    margin-top: 1rem;
    color: #FFFFFF;
    width: 80px;
    height: auto;
    background-color: #008000;
    border: 3px solid #000000;
    border-radius: 12px;
    text-align: center;
    min-width: 16px;
    font-size: 28px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
}

.btn-field__save:hover {
    background-color: #3CB371;
}

.btn-field__save:active {
    background-color: #B8860B;
    transform: scale(0.90);
}

@media only screen and (max-width: 1280px) {
    #settings_imgInput {
        margin-left: calc(15rem + 3px);
    }
}

@media only screen and (max-width: 1280px) {
    .btn__save {
        margin-left: 15rem;
    }
}

/*_________________________________*/
/* CSS-settings for signup.html */
/*_________________________________*/

.signup_before-question-header {
    padding-left: 10%;
}

p.signup_registration-message {
    font-size: 36px;
    padding-top: 1rem;
    font-family: Oblivion;
    font-weight: bold;
    display: inline-block;
}

.signup_mistake-message {
    padding-left: 10%;
}

.signup_mistake-message>p {
    color: #DC143C;
    margin: 0;
    font-size: 24px;
    font-family: Rubik;
    font-weight: bold;
    display: inline-block;
}

.signup_signup-login,
.signup_signup-email,
.signup_signup-nickname,
.signup_signup-password,
.signup_signup-repeat-password,
.signup_upload-avatar {
    padding-top: 3.5rem;
    padding-left: 10%;
}

.signup_signup-login>label,
.signup_signup-email>label,
.signup_signup-nickname>label,
.signup_signup-password>label,
.signup_signup-repeat-password>label,
.signup_upload-avatar>label {
    font-size: 28px;
    font-family: Oblivion;
    width: 18rem;
}

@media only screen and (max-width: 1280px) {

    .signup_signup-login>label,
    .signup_signup-email>label,
    .signup_signup-nickname>label,
    .signup_signup-password>label,
    .signup_signup-repeat-password>label,
    .signup_upload-avatar>label {
        font-size: 24px;
        width: 15rem;
    }
}

.signup_login,
.signup_email,
.signup_nickname,
.signup_password,
.signup_repeat-password,
signup_upload-avatar {
    font-family: Rubik;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    height: 3rem;
    width: 45%;
    border: 3px solid #000000;
    border-radius: 10px;
    resize: none;
    float: none;
    overflow: hidden;
}

#signup_chosen_avatar {
    display: inline;
    height: 180px;
    width: 180px;
    min-width: 144px;
    min-height: 144px;
    border: 3px solid #B8860B;
    border-radius: 30px;
    object-fit: cover;
}

#signup_imgInput {
    display: block;
    margin-top: 2rem;
    margin-left: calc(18rem + 3px);
    text-align: center;
    min-width: 16px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
    font-family: Rubik;
    font-size: 24px;
    height: 3rem;
    width: 45%;
    border: 3px solid #000000;
    border-radius: 10px;
    resize: none;
    float: none;
    overflow: hidden;
}


.btn__register {
    margin-top: 3rem;
    margin-right: 0;
    margin-bottom: 1rem;
    margin-left: 18rem;
}

.btn-field__register {
    margin-top: 1rem;
    color: #FFFFFF;
    width: 100px;
    height: auto;
    background-color: #008000;
    border: 3px solid #000000;
    border-radius: 12px;
    text-align: center;
    min-width: 16px;
    font-size: 28px;
    transition-duration: 0.2s;
    text-decoration: none;
    box-shadow: 2px 2px 2px 2px #708090;
}

.btn-field__register:hover {
    background-color: #3CB371;
}

.btn-field__register:active {
    background-color: #B8860B;
    transform: scale(0.90);
}

@media only screen and (max-width: 1280px) {
    #signup_imgInput {
        margin-left: calc(15rem + 3px);
    }
}

@media only screen and (max-width: 1280px) {
    .btn__register {
        margin-left: 15rem;
    }
}

/*_________________________________*/

.popular-tags>p {
    font-size: 36px;
    padding-top: 5rem;
    font-family: Oblivion;
    font-weight: bold;
    text-align: left;
}

.popular-tags>ul>li {
    display: inline-block;
    padding-right: 3rem;
    font-size: 28px;
    font-weight: bold;
    color: #0d6efd;
}

.popular-tags>ul>li>a {
    font-family: gismondaCYR;
    text-decoration: none;
}

.best-members>p {
    font-size: 36px;
    padding-top: 3rem;
    font-family: Oblivion;
    font-weight: bold;
    text-align: left;
}

.best-members>ul {
    font-size: 28px;
    list-style-type: none;
}

.best-members>ul>li {
    margin-bottom: 1rem;
    font-family: Rubik;
}

.pagination-main {
    margin-left: 6.7%;
    margin-top: 3rem;
    margin-bottom: auto;
}

.pagination-main>ul>li>a {
    border: 2px solid #B8860B;
    color: #800000 !important;
    font-family: Rubik;
    height: 100%;
    margin-right: 0.5rem;
}

.pagination-main>ul>li>a:hover,
.pagination-main>ul>li>a:active {
    color: #800000;
    background-color: #FFE4B5;
    border: 2px solid #B8860B;
    box-shadow: upset 5px 5px 5px 5px #FFB6C1;
}

@media only screen and (max-width: 1080px) {
    .popular-tags>p {
        font-size: 24px;
    }

    .popular-tags>ul>li {
        font-size: 20px;
    }

    .best-members>p {
        font-size: 24px;
    }

    .best-members>ul {
        font-size: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .textcols-item-questions {
        width: 100%;
    }

    .textcols-item-sidebar {
        display: none;
    }
}