<div class="row question_question">
    <div class="col-2 question_question-icon">
        <div class="row question_question-avatar">
            <img class="avatar-image" src="{{ question.author.avatar_path.url }}" alt=""/>
        </div>
        <div class="row user_nickname">{{ question.author.nickname }}</div>
        <div class="row likes-counter">
            <div class="col likes">{{ question.rating }}</div>
            <div class="col-1 counter">
                <input class="btn-like-question" type="button" data-type="like" style="background-color: #FFFFFF"
                       data-id="{{ question.id }}" aria-label="Like!">
                <input class="btn-dislike-question" type="button" data-type="dislike" style="background-color: #FFFFFF"
                       data-id="{{ question.id }}" aria-label="Dislike!">
            </div>
        </div>
    </div>
    <div class="col question_question-text">
        <div class="row">
            <p class="question_user-question">{{ question.title }}</p>
        </div>
        <div class="row question_user-text">
            <p>{{ question.content }}</p>
        </div>
        <div class="row question_question-tags">
            <div class="col-1 question_tags"><span>Tags:</span></div>
            <div class="col question_tags-links">
                <ul>
                    {% for tag in question.tags.all %}
                    <li>
                        <a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row publish_date">{{question.publish_date|date:"d M Y, G:i"}} UTC</div>
    </div>
</div>